<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" href="../static/style.css"
</head>
<body>
<div id="container">
	<h1 align="center">Sign Up</h1>
	{% if not session.logged_in %}
		<p align="right" class="hint">Already have an account? <a href="{{ url_for('login') }}">Login</a> now</p>
		<p>
			<ol>
			<li>All fields are required</li>
			<li>Download, install, and sign up for Authy on your device</li>
			<li>Please use the same email and telephone used for your Authy account</li>
			</ol>
		</p>
		<form method=post action="{{ url_for('signup') }}">
			<div>
			<label>Name (alphabet + space chars only / 100 chars max)</label><br >
			<input placeholder="Name" name="name" type="text" pattern="[a-zA-Z][a-zA-Z\s]{1,100}" required />
			</div>

			<div>
			<label>E-mail</label><br >
			<input placeholder="E-mail" name="email" type="email" required />
			</div>		
				
			<div>
			<label>Telephone (1-3 numbers)(numbers only, no spaces/dashes)</label><br />
			<input placeholder="Country Code" name="country_code" type="text" required id="country_code" pattern="[0-9]{1,3}" />
			<input placeholder="Area Code + Telephone" name="phone" type="tel" pattern="[0-9]*" required />
			</div>

			<div>
			<label>Password</label><br >
			<input placeholder="Password" name="password" type="password" required />
			</div>

			<div>
			<input type="submit" value="Sign Up" />
			</div>
		</form>
	{% else %}
		<p align="center">You are currently logged in.</p>
		<p>Please <a href="{{ url_for('logout') }}">logout</a> if you want to sign up for a new account.</p>
	{% endif %}	
</div>
</body>
</html>