<html>
<head>
	<title>TOTP Authy</title>
	<link rel="stylesheet" href="../static/style.css"
</head>
<body>
<div id="container">
	<h1 align="center">TOTP Authy</h1>
	{% if not session.logged_in %}		
		<p align="center">Please enter your JADOPADO-ASSESSMENT Authy token below:</p>
		<form method=post action="{{ url_for('totp') }}">
			<div>
				<label>Token (7 digits)</label>
				<input placeholder="Authy Token" name="token" type="text" pattern="[0-9]{7}" required />
			</div>
			<div>
				<input type="submit" value="Verify" />
			</div>
		</form>
	{% else %}
		<p align="center">You are already logged in. Want to <a href="{{ url_for('logout') }}">logout</a>?</p>
	{% endif %}	
</div>
</body>
</html>